<div class="login-container">
    <img src="/assets/logo.jpg" alt="logo" class="logo">
    <form [formGroup]="loginForm" >
      <div><label><b>Username: </b><input type="text" formControlName="username" name="username"></label></div>
      <div><label><b>Password: </b><input type="password" formControlName="password" name="password"></label></div>
      <div><button type="button" class="login-button" (click)="onSubmit()">Login</button></div>

      <span *ngIf="error">{{errorMessage}}</span>
      <div class="forgot-pass"><button type="button" class="forgot-button" (click)="forgotPass()">Forgot Password?</button></div>
      <div>Don’t have an account?<a routerLink='../register-user' class="link">Sign up</a></div>
    </form>



</div>
<router-outlet></router-outlet>