<div class="user-tweet">
  <!-- <div class="card">
    <div><label>Add Tweet: <textarea [(ngModel)]="message" name="message"></textarea></label></div>
    <div><button type="button" class="submit-button" (click)="createTweet()">Post</button></div>
  </div> -->

  <h1>{{heading}} TWEETS</h1>
  <div *ngIf="tweets" class="container">
    <div *ngFor="let tweet of tweets.reverse(); let i = index" class="content">
      <div class="card">

        <div class="firstinfo"><img src="{{tweet.avtar}}" />
          <div class="profileinfo">
            <time>{{tweet.time}}</time>
            <h3>@{{tweet.loginId}}</h3>
            <p class="bio">{{tweet.message}}</p>

            <hr>
            <br>
            <div class="button-container"> <button class="like" (click)="setLike(tweet.likeImage, i)"><img
                  src="{{tweet.likeImage}}" /></button><textarea placeholder="Add your Comment"></textarea><button
                class="comment">Post </button></div>
          </div>
        </div>
        <div *ngIf="tweet.commentList"> <button class="show-button"
            (click)="showReply(i)">{{isReply.get(i)[1]}}</button></div>
      </div>
      <div *ngIf="tweet.commentList && isReply.get(i)[0]" class="card">
        <h2>Commets</h2>
        <div *ngFor="let comment of tweet.commentList.reverse()" class="content">
          <div>
            <h3>@{{comment.commentor}}</h3> <time>{{comment.time}}</time>
          </div>
          <div></div>
          <p>{{comment.commentMessage}}</p>
          <hr>
        </div>

      </div>
    </div>
  </div>
</div>