
    .tweet{
        position: absolute;
        display: block;
        bottom: 0px;
        top: 60%;
        left: 50%;
        transform: translate(-50%,0);  
    }

    .create-tweet{
        position: absolute;
        margin: 10px;
        display: block;
        bottom: 0px;
        top: 10px;
        left: 50%;
        transform: translate(-50%,0);  
    }

    .container{
        background-color: aquamarine;

    }


   .user-profile{
    margin: 20px;
    width: fit-content;
   }
