
    .user-tweet{
        position: absolute;
        margin: auto;
        display: block;
        bottom: 0px;
        top: 100px;
        left: 50%;
        transform: translate(-50%,0);
       
    }
