
    .tweet{
        position: absolute;
        margin: auto;
        display: block;
        bottom: 0px;
        top: 200px;
        left: 50%;
        transform: translate(-50%,0);  
    }

    .container{
        background-color: aquamarine;

    }


   .user-profile{
    margin: 20px;
   }
