<h1>mainbar</h1>
<div class="mainbar-flexbox">


    <!-- <div class="mainbar-flex-item"> </div> -->
    <div class="mainbar-flex-item"><a routerLink="../../login" >Login<</a></div>
    <!-- <div class="mainbar-flex-item"><a routerLink="/" >Register</a></div>-->
    <div class="mainbar-flex-item"><a routerLink="../../all-tweets">Tweets</a></div>
    <div class="mainbar-flex-item"><a routerLink="../../all-users" >All Users</a></div>
    <!--<div class="mainbar-flex-item"><a routerLink="/" >Logout</a></div> -->
    <!-- <div class="mainbar-flex-item"></div> -->
  </div>
  
