<h1>mainbar</h1>
<div class="mainbar-flexbox">


    <!-- <div class="mainbar-flex-item"> </div> -->
    <div class="mainbar-flex-item"><a routerLink="../../login" (click)="onClick('login')">Login</a></div>
    <!-- <div class="mainbar-flex-item"><a routerLink="/" >Register</a></div>-->
    <!-- <div class="mainbar-flex-item"><a routerLink="user-tweets/:sasha" (click)="onClick('userTweets')">My Profile</a></div> -->
    <div class="mainbar-flex-item"><a routerLink="../../tweets/all" (click)="onClick('tweets')">Tweets</a></div>
    <div class="mainbar-flex-item"><a routerLink="../../all-users" (click)="onClick('allUsers')">All Users</a></div>
    <div class="mainbar-flex-item"><input type="text" [(ngModel)]="search" name="search"><button type="submit" (click)="onSearch()">Search</button></div> 
    <!-- <div class="mainbar-flex-item"></div> <a routerLink="../../search-users" >-->
  </div>
  
