.mainbar-flexbox {
    display: flex;
    flex-direction: row;
  }
  
  .mainbar-flex-item {
    flex: 1;
    text-align: center;
  }
  
  img {
    width: 100%;
    text-align: center;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    float: left;
    color: white;
  }
  
  a {
    display: block;
    padding: 15px;
    background-color: #187ca7;
  }