<h1>mainbar</h1>
<div class="mainbar-flexbox">

  <ul>
    <li><div class="mainbar-flex-item"><a routerLink="../../login" (click)="onClick('login')">Back to Login</a></div></li>
    <li><div class="mainbar-flex-item"><a routerLink="../../tweets/all" (click)="onClick('tweets')">Tweets</a></div></li>
    <li><div class="mainbar-flex-item"><a routerLink="../../users/all" (click)="onClick('allUsers')">All Users</a></div></li>
    <li><div class="mainbar-flex-item"><input type="text" [(ngModel)]="search" name="search"><button type="submit" (click)="onSearch()">Search</button></div></li>
    <li><div class="mainbar-flex-item"><a routerLink="../../tweets/tags" >Tagged tweets</a></div></li>
    <li> <div class="mainbar-flex-item"><a routerLink="/login" (click)="onLogout()">Logout</a></div> </li>
  </ul>
  </div>
  
